@font-face {
	font-family: "Flaticon";
	src: url("../fonts/icons/flaticon.eot");
	src: url("../fonts/icons/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/icons/flaticon.woff") format("woff"),
	url("../fonts/icons/flaticon.ttf") format("truetype"),
	url("../fonts/icons/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
/*        font-size: 20px;*/
font-style: normal;
/*margin-left: 20px;*/
}.flaticon-back28:before {
  content: "\e000";
}
.flaticon-caduceus4:before {
  content: "\e001";
}
.flaticon-caduceus8:before {
  content: "\e002";
}
.flaticon-cellphone57:before {
  content: "\e003";
}
.flaticon-direction196:before {
  content: "\e004";
}
.flaticon-fastforward4:before {
  content: "\e005";
}
.flaticon-gear39:before {
  content: "\e006";
}
.flaticon-gps6:before {
  content: "\e007";
}
.flaticon-heart258:before {
  content: "\e008";
}
.flaticon-heart8:before {
  content: "\e009";
}
.flaticon-home168:before {
  content: "\e00a";
}
.flaticon-hospital11:before {
  content: "\e00b";
}
.flaticon-letter121:before {
  content: "\e00c";
}
.flaticon-location74:before {
  content: "\e00d";
}
.flaticon-magnifying-glass16:before {
  content: "\e00e";
}
.flaticon-medical14:before {
  content: "\e00f";
}
.flaticon-new100:before {
  content: "\e010";
}
.flaticon-point:before {
  content: "\e011";
}
.flaticon-right11:before {
  content: "\e012";
}
.flaticon-right127:before {
  content: "\e013";
}
.flaticon-screen121:before {
  content: "\e014";
}
.flaticon-search68:before {
  content: "\e015";
}
.flaticon-search70:before {
  content: "\e016";
}
.flaticon-smartphone86:before {
  content: "\e017";
}
.flaticon-stethoscope:before {
  content: "\e018";
}
.flaticon-tv30:before {
  content: "\e019";
}
