@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@font-face {
  font-family: "Helvetica Neue Cyr";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/helveticaneuecyr/helveticaneuecyr-ultralight-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr/helveticaneuecyr-ultralight-webfont.woff2") format("woff2"), url("../fonts/helveticaneuecyr/helveticaneuecyr-ultralight-webfont.woff") format("woff"), url("../fonts/helveticaneuecyr/helveticaneuecyr-ultralight-webfont.ttf") format("truetype"), url("../fonts/helveticaneuecyr/helveticaneuecyr-ultralight-webfont.svg#Helvetica Neue Cyr") format("svg"); }

@font-face {
  font-family: "Helvetica Neue Cyr";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/helveticaneuecyr/helveticaneuecyr-thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr/helveticaneuecyr-thin-webfont.woff2") format("woff2"), url("../fonts/helveticaneuecyr/helveticaneuecyr-thin-webfont.woff") format("woff"), url("../fonts/helveticaneuecyr/helveticaneuecyr-thin-webfont.ttf") format("truetype"), url("../fonts/helveticaneuecyr/helveticaneuecyr-thin-webfont.svg#Helvetica Neue Cyr") format("svg"); }

@font-face {
  font-family: "Helvetica Neue Cyr";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/helveticaneuecyr/helveticaneuecyr-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr/helveticaneuecyr-light-webfont.woff2") format("woff2"), url("../fonts/helveticaneuecyr/helveticaneuecyr-light-webfont.woff") format("woff"), url("../fonts/helveticaneuecyr/helveticaneuecyr-light-webfont.ttf") format("truetype"), url("../fonts/helveticaneuecyr/helveticaneuecyr-light-webfont.svg#Helvetica Neue Cyr") format("svg"); }

@font-face {
  font-family: "Helvetica Neue Cyr";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/helveticaneuecyr/helveticaneuecyr-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr/helveticaneuecyr-medium-webfont.woff2") format("woff2"), url("../fonts/helveticaneuecyr/helveticaneuecyr-medium-webfont.woff") format("woff"), url("../fonts/helveticaneuecyr/helveticaneuecyr-medium-webfont.ttf") format("truetype"), url("../fonts/helveticaneuecyr/helveticaneuecyr-medium-webfont.svg#Helvetica Neue Cyr") format("svg"); }



@font-face {
  font-family: "Helvetica Neue Cyr";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/helveticaneuecyr/helveticaneuecyr-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr/helveticaneuecyr-bold-webfont.woff2") format("woff2"), url("../fonts/helveticaneuecyr/helveticaneuecyr-bold-webfont.woff") format("woff"), url("../fonts/helveticaneuecyr/helveticaneuecyr-bold-webfont.ttf") format("truetype"), url("/fonts/helveticaneuecyr/helveticaneuecyr-bold-webfont.svg#Helvetica Neue Cyr") format("svg"); }

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }
  *:before, *:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased; }

html, body {
  font-family: "Helvetica Neue Cyr", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background: #f5f5f5; }

.wrapper-main {
  min-width: 1160px; }

.container {
  min-width: 1160px !important; }

.header-wrapper {
  background: url("../images/main-bg2.jpg") center center no-repeat;
  background-size: cover; }

.header__main {
  height: 167px;
  position: relative; }

.header-main-cover {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(56, 142, 60, 0.8);
  z-index: 1; }

.header-main-in {
  font-family: "Helvetica Neue Cyr", Helvetica, Arial, sans-serif;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  position: relative;
  z-index: 2;
  padding-top: 20px; }

.header-logo {
  width: 100%;
  max-width: 94px;
  height: auto; }
  .header-logo img {
    width: 100%;
    height: 100%; }

.header-info {
  width: 100%;
  max-width: 732px; }

.header-info__item-text-logo {
  max-width: 520px; }
  .header-info__item-text-logo h1.text-logo {
    font-family: "Helvetica Neue Cyr", Helvetica, Arial, sans-serif;
    font-size: 2.125rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.9px;
    padding-left: 5px;
    color: #fff;
    margin: 0 0;
    padding: 0 0; }

.header-info__item-coordinates {
  margin-top: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold; }

.header-contacts__item > i {
  color: #ffe401;
  font-size: 2.5rem; }

.contacts-label {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875rem;
  color: #fff;
  display: inline-block;
  text-decoration: none; }
  .contacts-label a {
    display: block;
    color: #fff;
    text-decoration: none;
    -webkit-transition: 0.4s all;
    -moz-transition: 0.4s all;
    transition: 0.4s all; }
    .contacts-label a:hover {
      color: #ffe401; }

.header-contacts__item:last-child .contacts-label {
  margin-left: 5px; }

.header-connections {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify; }

#searchform {
  padding-top: 7px;
  position: relative; }
  #searchform #s {
    opacity: 0.7;
    font-family: "Helvetica Neue Cyr", Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    background: none;
    border: 1px solid #fff;
    padding: 8px 8px 6px 8px;
    color: #fff;
    outline: none;
    width: 100%; }
    #searchform #s::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.8); }
    #searchform #s::-moz-placeholder {
      color: rgba(255, 255, 255, 0.8); }
    #searchform #s:-moz-placeholder {
      color: rgba(255, 255, 255, 0.8); }
    #searchform #s:-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.8); }
    #searchform #s:focus {
      opacity: 1; }
  #searchform #submit-btn {
    display: none; }
  #searchform label[for="submit-btn"] {
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 13px;
    color: #fff;
    font-size: 1.125rem; }

.application-item {
  font-family: "Helvetica Neue Cyr", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  display: block;
  background: #eb2323;
  padding: 8px 8px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s; }
  .application-item:hover, .application-item:active, .application-item:focus {
    text-decoration: none;
    color: #eb2323;
    background: #fff; }

.appeal {
  display: none; }

.appeal-header {
  font-size: 1.375rem;
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
  color: #3c8558; }

form#appeal-form {
  text-align: center; }

input.appeal-input {
  font-family: "Helvetica Neue Cyr", Helvetica, Arial, sans-serif;
  width: 90%;
  display: block;
  padding: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  border-radius: 5px;
  text-align: center;
  outline: none;
  margin: 0 auto 15px auto; }
  input.appeal-input:focus {
    border: 1px solid #50B777; }

textarea.appeal-textarea {
  width: 90%;
  min-height: 150px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px; }
  textarea.appeal-textarea:focus {
    border: 1px solid #50B777; }

#submit-appeal {
  display: inline-block;
  padding: 7px 15px;
  color: #333333;
  font-size: 1.125rem;
  border: 1px solid #3c8558;
  border-radius: 4px;
  background: #fff;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  transition: 0.3s all; }
  #submit-appeal:hover {
    background: #3c8558;
    color: #fff; }

.social-icons {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  box-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute;
  margin-bottom: 10px; }

.social-icons__item {
  display: block;
  width: 25px;
  height: 25px; }
  .social-icons__item:hover {
    -webkit-filter: brightness(90%);
    filter: brightness(90%); }

.social-icons__item--facebook {
  background: url("../images/facebook.png"); }

.social-icons__item--youtube {
  background: url("../images/youtube.png"); }

.social-icons__item--vk {
  background: url("../images/vk.png"); }

.header__date.additional {
  font-family: "Helvetica Neue Cyr", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.8px;
  color: #fff;
  background: #B98D03;
  padding-top: 4px; }

.additional-date {
  padding-left: 40px; }

.header__menu {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  background: #3c8558;
  color: #fff;
  box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

ul.menu {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start;
  margin: 0; }
  ul.menu > li.menu-item:first-child a {
    display: block;
    font-size: 0;
    padding: 4px 15px; }
    ul.menu > li.menu-item:first-child a:before {
      font-family: Flaticon;
      content: "\e00a";
      font-size: 1.8125rem; }
      ul.menu > li.menu-item:first-child a:before:hover, ul.menu > li.menu-item:first-child a:before:focus, ul.menu > li.menu-item:first-child a:before:active {
        background: #33704a;
        text-decoration: none; }

li.menu-item {
  list-style: none; }
  li.menu-item:hover a {
    background: #33704a; }
  li.menu-item a,
  li.menu-item a:active,
  li.menu-item a:focus {
    display: block;
    font-family: "Helvetica Neue Cyr", Helvetica, Arial, sans-serif;
    font-size: 1.25rem;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px 8px 20px;
    -webkit-transition: 0.2s all;
    -moz-transition: 0.2s all;
    transition: 0.2s all; }
    li.menu-item a:hover,
    li.menu-item a:active:hover,
    li.menu-item a:focus:hover {
      text-decoration: none;
      background: #33704a; }

li.menu-item-has-children {
  position: relative; }

ul.sub-menu {
  display: none;
  position: absolute;
  background: #33704a;
  padding: 0px 0px;
  z-index: 99; }
  ul.sub-menu li.menu-item a {
    font-size: 1rem;
    border-bottom: 1px solid #fff; }
    ul.sub-menu li.menu-item a:hover, ul.sub-menu li.menu-item a:focus, ul.sub-menu li.menu-item a:active {
      background: #53986d; }
  ul.sub-menu li.menu-item:last-child a {
    border-bottom: none; }

.slider {
  position: relative;
  height: 350px; }

.slider-content {
  height: 350px; }

.slider-cover {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(78, 78, 78, 0.6); }

.owl-dots {
  position: relative;
  margin-top: -30px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  z-index: 999; }

.owl-dots .owl-dot {
  display: inline-block;
  zoom: 1; }

.owl-dots .owl-dot:hover span {
  background: #ccc; }

.owl-dots .owl-dot.active span {
  background: #3c8558; }

.owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #fff;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -ms-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px; }

.owl-carousel {
  background: url("../images/slider-bg1.jpg") center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 350px; }

.owl-carousel__item {
  width: 100%;
  height: 100%; }

.slider-content {
  width: 100%;
  height: 350px;
  z-index: 9;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  box-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute;
  -webkit-box-align: start;
  -moz-box-align: start;
  box-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  -ms-flex-align: start;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.slider-content__image {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  box-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }

.owl-carousel .owl-item img {
  display: block;
  width: 400px;
  height: 290px;
  border-radius: 10px; }

.slider-description-wrapper {
  height: 320px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  max-width: 510px; }

.slider-description {
  color: #fff;
  max-width: 510px;
  height: 250px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  box-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute;
  -webkit-box-align: left;
  -moz-box-align: left;
  box-align: left;
  -webkit-align-items: left;
  -moz-align-items: left;
  -ms-align-items: left;
  -o-align-items: left;
  align-items: left;
  -ms-flex-align: left; }

.slider-description__item.slider-description__item--heading {
  font-family: "Helvetica Neue Cyr", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.75rem;
  padding-bottom: 22px;
  text-transform: uppercase;
  line-height: 30px; }

.slider-description__item.slider-description__item--text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  padding-bottom: 18px;
  line-height: 30px; }

.slider-description__item.slider-description__item--read-more {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase; }
  .slider-description__item.slider-description__item--read-more a {
    color: #fff;
    text-decoration: none; }
    .slider-description__item.slider-description__item--read-more a:hover {
      text-decoration: none;
      color: #50B777; }
    .slider-description__item.slider-description__item--read-more a i {
      font-size: 21px;
      padding-left: 7px;
      vertical-align: middle;
      margin-top: -5px; }

.section.nav-icons {
  margin: 10px 0 0px 0;
  z-index: 3; }

.med-icons {
  background: #ffffff;
  box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }

.med-icons__item {
  display: block;
  text-decoration: none;
  color: #2e2e2e;
  width: 194px;
  padding: 10px 20px;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  transition: 0.3s all; }
  .med-icons__item i {
    display: block;
    font-size: 3.75rem;
    text-align: center;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    transition: 0.3s all; }
  .med-icons__item:hover {
    text-decoration: none; }
  .med-icons__item:hover i.flaticon-gear39 {
    color: #5CB85C; }
  .med-icons__item:hover i.flaticon-tv30 {
    color: #428BCA; }
  .med-icons__item:hover i.flaticon-heart258 {
    color: #f80000; }
  .med-icons__item:hover i.flaticon-caduceus4 {
    color: #0D96FB; }
  .med-icons__item:hover i.flaticon-hospital11 {
    color: #5CB85C; }

.programm-heading {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.125rem;
  font-weight: 100;
  color: #2e2e2e;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  transition: 0.3s all; }

.content {
  margin-top: 10px;
  padding-bottom: 20px; }

.content-sidebar {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.sidebar-container {
  padding-bottom: 30px; }

.sidebar-container__category {
  font-family: "Helvetica Neue Cyr", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 1.375rem;
  text-transform: uppercase;
  color: #3c8558;
  border-bottom: 1px solid #2e2e2e;
  margin-bottom: 22px; }

.sidebar-container__image {
  width: 245px;
  display: block;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  max-width: 100%;
  -webkit-transition: 0.2s all;
  -moz-transition: 0.2s all;
  transition: 0.2s all; }
  .sidebar-container__image img {
    max-width: 100%;
    height: auto; }

a.sidebar-container__image:hover {
  border: 1px solid #50B777; }

.sidebar-container__heading {
  padding: 0 0 15px 0;
  font-size: 1.125rem;
  color: #3c8558;
  word-break: break-word; }

.sidebar-container__content {
  font-size: 1rem;
  text-align: justify;
  padding-bottom: 15px; }

.sidebar-container__btn {
  display: inline-block;
  padding: 7px 15px;
  color: #333333;
  border: 1px solid #3c8558;
  border-radius: 4px;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  transition: 0.3s all; }
  .sidebar-container__btn:hover {
    background: #3c8558;
    color: #fff; }

.content-main {
  padding-left: 20px;
  padding-right: 20px; }

.content-container__wrapper {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  min-height: 900px;
  box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.content-container__category.news {
  font-family: "Helvetica Neue Cyr", Helvetica, Arial, sans-serif; }

.news__heading {
  font-weight: 600;
  font-size: 1.375rem;
  text-transform: uppercase;
  color: #3c8558;
  border-bottom: 1px solid #2e2e2e;
  margin-bottom: 22px; }

.news-item {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start;
  border-bottom: 1px dotted #2e2e2e;
  padding-bottom: 20px;
  padding-top: 0;
  flex-shrink: 0; }
  .news-item + .news-item {
    padding-top: 20px; }

.news-item:last-of-type {
  border-bottom: 0;
  padding-bottom: 20px;
    border-bottom: 1px dotted #2e2e2e;
 }

.news-item__image {
  width: 160px;
  height: 160px;
  flex-shrink: 0; }
  .news-item__image img {
    width: 160px;
    height: 160px; }

.news-item__content.news-content {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  box-pack: distribute;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: distribute;
  padding-left: 20px;
  flex-shrink: 1;
  word-break: break-word; }

h3.news-content__heading {
  margin: 0 0;
  font-family: "Helvetica Neue Cyr", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  color: #3c8558;
  font-weight: 500; }

.news-item:hover h3.news-content__heading {
  color: #50B777; }

.news-item:hover .news-content__text {
  color: #333333; }

.news-content__date {
  font-family: "Helvetica Neue Cyr", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  color: #333333;
  padding: 8px 0; }

.news-content__text {
  text-align: justify;
  font-size: 1rem;
  color: #403F3F; }

.page-content-wrapper {
  min-height: -webkit-calc(100vh - 200px);
  min-height: calc(100vh - 200px);
  padding: 15px 0; }

.page-content {
  min-height: -webkit-calc(100vh - 384px);
  min-height: calc(100vh - 384px);
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.page-content {
  font-family: "Helvetica Neue Cyr", Helvetica, Arial, sans-serif; }

h1.page-content__header {
  padding-left: 20px;
  font-family: "Helvetica Neue Cyr", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  color: #3c8558;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 1px solid #2e2e2e;
  margin-bottom: 0; }

.page-content__meta.page-meta {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start;
  color: #4c4c4c;
  padding: 5px 0 30px 0;
  font-size: 1rem; }

.page-category {
  padding-left: 30px; }
  .page-category a {
    color: #3c8558; }
    .page-category a:hover {
      color: #50B777; }

.page-content--with-sidebar {
  padding: 20px;
}
.page-date {
  padding-left: 20px; }
  .page-date span {
    font-weight: 300; }

.page-content__image {
  padding-bottom: 10px; }
  .page-content__image img {
    display: block;
    margin: 0 auto;
    max-width: 600px;
    height: auto;
    border-radius: 5px; }

.page-content__text {
  border-bottom: 1px dotted #2e2e2e; }

.page-content__text p {
  font-family: "Helvetica Neue Cyr", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  color: #333333;
  text-indent: 20px;
  line-height: 1.8; }

.featured-news {
  padding-top: 20px; }

.featured-news__header {
  padding-left: 20px;
  font-family: "Helvetica Neue Cyr", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  color: #3c8558;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 1px solid #2e2e2e; }

.featured-news-in {
  padding-top: 30px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start;
  flex-wrap: wrap;
  padding-bottom: 20px; }

a.featured-news-in__item {
  display: block;
  width: 30%;
  margin-right: 5%;
  border: 1px solid #ccc; }
  a.featured-news-in__item:hover {
    box-shadow: 0px 2px 8px 0 rgba(60, 133, 88, 0.8); }

.featured-news-in__image {
  width: 100%;
  height: 225px; }
  .featured-news-in__image img {
    width: 100%;
    height: 100%; }

a.featured-news-in__item:last-of-type {
  margin-right: 0; }

.featured-news-in__meta {
  padding: 10px; }
  .featured-news-in__meta .meta-date {
    color: #3c8558;
    font-size: 1.125rem; }
  .featured-news-in__meta .meta-content {
    padding-top: 10px;
    color: #2e2e2e;
    font-size: 1rem; }

.footer {
  padding: 20px 0;
  background: #3c8558;
  color: #fff;
  box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.footer-link {
  display: block;
  color: #fff;
  text-align: center; }
  .footer-link:hover {
    color: #ccc; }

.footer-widgets {
  padding-bottom: 20px; }

.footer-widgets__wrapper {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
  .footer-widgets__wrapper:after {
    content: "";
    display: table;
    clear: both; }

a.footer-image {
  width: 100%;
  display: block;
  padding: 10px;
  opacity: 0.9;
  border-radius: 5px; }
  a.footer-image:hover {
    opacity: 1;
    box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
  a.footer-image img {
    max-width: 100%;
    height: 100px; }

.page-breadcrumbs {
  padding: 10px 0 5px 20px;
}
.breadcrumbs__item {
  display: inline-block;
  font-size: 1rem;
  color: #3c8558;
  font-weight: 500;
}
.breadcrumbs {
  font-size: 1rem;
  font-weight: 500;
}
.breadcrumbs a {
  font-size: 1rem;
  color: #3c8558;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
}

.ya-share2{
    text-align: right;
    padding-right: 50px;
    padding-bottom: 10px;
}
.news__heading span {
  text-transform: none;
  font-weight: 300;
  color: #2a2a2a;
}
